In [238]:
import pandas as pd

df_2023 = pd.read_csv('/Users/mavinjames/Desktop/Basketball_Modeling/NCAAB_Sports_Reference_Scraper/data/2023/gamelogs_2023.csv')
df_2024 = pd.read_csv('/Users/mavinjames/Desktop/Basketball_Modeling/NCAAB_Sports_Reference_Scraper/data/2024/gamelogs_2024.csv')
df_2025 = pd.read_csv('/Users/mavinjames/Desktop/Basketball_Modeling/NCAAB_Sports_Reference_Scraper/data/2025/gamelogs_2025.csv')

In [239]:
df_list = [df_2023, df_2024, df_2025]
all_df = pd.concat(df_list, ignore_index=True)

In [244]:
#all_df = all_df.drop(columns = 'Unnamed: 0', axis = 1)
all_df["school_name"] = all_df["school_name"].str.replace(r"NCAA$", "", regex=True)
all_df['date'] = pd.to_datetime(all_df['date'])

In [245]:
all_df['game_location'].values

array([nan, '@', nan, ..., nan, 'N', 'N'], shape=(35962,), dtype=object)

In [246]:
all_df.columns

Index(['Unnamed: 0', 'school_name', 'school_slug', 'season', 'ranker',
       'team_game_num_season', 'date', 'game_location', 'opp_name_abbr',
       'game_type', 'team_game_result', 'team_game_score',
       'opp_team_game_score', 'overtimes', 'fg', 'fga', 'fg_pct', 'fg3',
       'fg3a', 'fg3_pct', 'fg2', 'fg2a', 'fg2_pct', 'efg_pct', 'ft', 'fta',
       'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'opp_fg', 'opp_fga', 'opp_fg_pct', 'opp_fg3', 'opp_fg3a', 'opp_fg3_pct',
       'opp_fg2', 'opp_fg2a', 'opp_fg2_pct', 'opp_efg_pct', 'opp_ft',
       'opp_fta', 'opp_ft_pct', 'opp_orb', 'opp_drb', 'opp_trb', 'opp_ast',
       'opp_stl', 'opp_blk', 'opp_tov', 'opp_pf'],
      dtype='object')

In [247]:
#is_Home feature
import numpy as np

all_df['game_location'].fillna('', inplace=True)

all_df['is_Home'] = all_df['game_location'].apply(lambda x: 1 if x == '' else (.5 if x == 'N' else 0))

/var/folders/xm/c9xmfs6x0gd0dzctzh_vkfvm0000gn/T/ipykernel_99463/3088273381.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_df['game_location'].fillna('', inplace=True)

In [248]:
#score_diff feature

all_df['score_diff'] = all_df['team_game_score'] - all_df['opp_team_game_score']

#all_df[['score_diff','team_game_score','opp_team_game_score','team_game_result']]

In [249]:
#rolling window for 5 and 10 average score differential

all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["score_diff"]

all_df["avg_score_diff_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_score_diff_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_score_diff_last_5", "avg_score_diff_last_10"]] = (
    all_df[["avg_score_diff_last_5", "avg_score_diff_last_10"]].fillna(0)
)

In [250]:
#rolling window for 5 and 10 average points scored
all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["team_game_score"]

all_df["avg_points_scored_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_points_scored_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_points_scored_last_5", "avg_points_scored_last_10"]] = (
    all_df[["avg_points_scored_last_5", "avg_points_scored_last_10"]].fillna(0)
)

In [251]:
#rolling window for 5 and 10 average points scored
all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["opp_team_game_score"]

all_df["avg_points_given_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_points_given_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_points_given_last_5", "avg_points_given_last_10"]] = (
    all_df[["avg_points_given_last_5", "avg_points_given_last_10"]].fillna(0)
)

In [252]:
#rolling window for 5 and 10 average points scored
all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["team_game_score"]

all_df["avg_points_scored_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_points_scored_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_points_scored_last_5", "avg_points_scored_last_10"]] = (
    all_df[["avg_points_scored_last_5", "avg_points_scored_last_10"]].fillna(0)
)

In [253]:
#Rolling win pct for the last 10 games
all_df["win"] = all_df["team_game_result"].map({"W": 1, "L": 0})

g = all_df.groupby(["season", "school_name"])

all_df["win_pct_last_10"] = g["win"].transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df["win_pct_last_10"] = (
    all_df["win_pct_last_10"].fillna(0)
)

In [254]:
#Rolling effective field goal percentage last 5 and 10
g = all_df.groupby(["season", "school_name"])

# previous games only
fg_roll_5  = g["fg"].transform(lambda s: s.shift(1).rolling(5, min_periods=1).sum())
fg3_roll_5 = g["fg3"].transform(lambda s: s.shift(1).rolling(5, min_periods=1).sum())
fga_roll_5 = g["fga"].transform(lambda s: s.shift(1).rolling(5, min_periods=1).sum())

all_df["efg_pct_last_5"] = (fg_roll_5 + 0.5 * fg3_roll_5) / fga_roll_5

fg_roll_10  = g["fg"].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())
fg3_roll_10 = g["fg3"].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())
fga_roll_10 = g["fga"].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())

all_df["efg_pct_last_10"] = (fg_roll_10 + 0.5 * fg3_roll_10) / fga_roll_10

In [255]:
#rolling window for 5 and 10 average tovs
all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["tov"]

all_df["avg_tovs_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_tovs_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_tovs_last_5", "avg_tovs_last_10"]] = (
    all_df[["avg_tovs_last_5", "avg_tovs_last_10"]].fillna(0)
)

In [256]:
# rolling window for 5 and 10 average ORB
all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])["orb"]

all_df["avg_orb_last_5"] = g.transform(
    lambda s: s.shift(1).rolling(5, min_periods=1).mean()
)

all_df["avg_orb_last_10"] = g.transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

all_df[["avg_orb_last_5", "avg_orb_last_10"]] = (
    all_df[["avg_orb_last_5", "avg_orb_last_10"]].fillna(0)
)

In [257]:
#rolling window for 5 and 10 average FTA, AST, and TRB

all_df = all_df.sort_values(["season", "school_name", "date"])

g = all_df.groupby(["season", "school_name"])

for col in ["fta", "ast", "trb"]:
    all_df[f"avg_{col}_last_5"] = g[col].transform(
        lambda s: s.shift(1).rolling(5, min_periods=1).mean()
    )
    all_df[f"avg_{col}_last_10"] = g[col].transform(
        lambda s: s.shift(1).rolling(10, min_periods=1).mean()
    )

all_df[[f"avg_{col}_last_5" for col in ["fta","ast","trb"]] +
       [f"avg_{col}_last_10" for col in ["fta","ast","trb"]]] = (
    all_df[[f"avg_{col}_last_5" for col in ["fta","ast","trb"]] +
           [f"avg_{col}_last_10" for col in ["fta","ast","trb"]]].fillna(0)
)

In [258]:
all_df[["tov", "avg_tovs_last_5", "avg_tovs_last_10"]].head(7)

   tov  avg_tovs_last_5  avg_tovs_last_10
0   15         0.000000          0.000000
1   20        15.000000         15.000000
2   18        17.500000         17.500000
3   23        17.666667         17.666667
4   15        19.000000         19.000000
5   14        18.200000         18.200000
6   10        18.000000         17.500000

In [259]:
#Fixing the mismatch between school_name and opp_name_abbr
RENAME_MAP = {
    "Texas A&M–Commerce": "East Texas A&M",
    "Texas–Rio Grande Valley": "Texas-Rio Grande Valley",
    "Sam Houston State": "Sam Houston",
    "USC Upstate": "South Carolina Upstate",
    "Arkansas–Pine Bluff": "Arkansas-Pine Bluff",
    "UNLV": "Nevada-Las Vegas",
    "Prairie View A&M": "Prairie View",
    "Grambling State": "Grambling",
    "LIU":"Long Island University",
    "Loyola Chicago":"Loyola (IL)",
    "UMBC":"Maryland-Baltimore County",
    "UMass Lowell":"Massachusetts-Lowell",
    "Ole Miss" : "Mississippi",
    "Texas A&M–Corpus Christi": "Texas A&M-Corpus Christi",
    "Louisiana–Monroe": "Louisiana-Monroe",
    "UT Martin" : "Tennessee-Martin",
    "Illinois–Chicago" : "Illinois-Chicago",
    "St. Mary's (CA)" : "Saint Mary's (CA)",
    "Fairleigh Dickinson" : "FDU",
    "Maryland Eastern Shore": "Maryland-Eastern Shore",
    "IUPUI":"IU Indy",
    "SMU":"Southern Methodist",
    "VCU":"Virginia Commonwealth"
}


all_df["opp_name_abbr"] = all_df["opp_name_abbr"].replace(RENAME_MAP)

In [260]:
#Checker to see the mismatches in the two names
opp = pd.DataFrame({"opp_name_abbr": all_df["opp_name_abbr"].unique()})
school = pd.DataFrame({"school_name": all_df["school_name"].unique()})

merged = pd.merge(opp, school, left_on="opp_name_abbr", right_on="school_name", how="right", indicator=True)

right_only = merged[merged["_merge"] == "right_only"]
right_only

    opp_name_abbr       school_name      _merge
288           NaN  St. Francis (NY)  right_only

In [261]:
all_df.columns

Index(['Unnamed: 0', 'school_name', 'school_slug', 'season', 'ranker',
       'team_game_num_season', 'date', 'game_location', 'opp_name_abbr',
       'game_type', 'team_game_result', 'team_game_score',
       'opp_team_game_score', 'overtimes', 'fg', 'fga', 'fg_pct', 'fg3',
       'fg3a', 'fg3_pct', 'fg2', 'fg2a', 'fg2_pct', 'efg_pct', 'ft', 'fta',
       'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'opp_fg', 'opp_fga', 'opp_fg_pct', 'opp_fg3', 'opp_fg3a', 'opp_fg3_pct',
       'opp_fg2', 'opp_fg2a', 'opp_fg2_pct', 'opp_efg_pct', 'opp_ft',
       'opp_fta', 'opp_ft_pct', 'opp_orb', 'opp_drb', 'opp_trb', 'opp_ast',
       'opp_stl', 'opp_blk', 'opp_tov', 'opp_pf', 'is_Home', 'score_diff',
       'avg_score_diff_last_5', 'avg_score_diff_last_10',
       'avg_points_scored_last_5', 'avg_points_scored_last_10',
       'avg_points_given_last_5', 'avg_points_given_last_10', 'win',
       'win_pct_last_10', 'efg_pct_last_5', 'efg_pct_last_10',
       'avg_tovs_last_5', 'avg_tovs_last_10', 'avg_orb_last_5',
       'avg_orb_last_10', 'avg_fta_last_5', 'avg_fta_last_10',
       'avg_ast_last_5', 'avg_ast_last_10', 'avg_trb_last_5',
       'avg_trb_last_10'],
      dtype='object')

In [262]:
opp_df = all_df[['opp_name_abbr', 'date', 'opp_team_game_score', 'avg_score_diff_last_5', 'avg_score_diff_last_10',
       'avg_points_scored_last_5', 'avg_points_scored_last_10',
       'avg_points_given_last_5', 'avg_points_given_last_10', 'win',
       'win_pct_last_10', 'efg_pct_last_5', 'efg_pct_last_10',
       'avg_tovs_last_5', 'avg_tovs_last_10', 'avg_orb_last_5',
       'avg_orb_last_10', 'avg_fta_last_5', 'avg_fta_last_10',
       'avg_ast_last_5', 'avg_ast_last_10', 'avg_trb_last_5',
       'avg_trb_last_10']].add_prefix("opp_")

In [263]:
merged = pd.merge(all_df,opp_df,
    left_on=["date", "school_name", 'team_game_score'],
    right_on=["opp_date", "opp_opp_name_abbr", "opp_opp_team_game_score" ],
    how="left"
)

In [264]:
merged[merged['school_name'] == 'Vanderbilt'][["date", "school_name", 'team_game_score',"opp_date", "opp_opp_name_abbr", "opp_opp_team_game_score"]].head(20)

,date,school_name,team_game_score,opp_date,opp_opp_name_abbr,opp_opp_team_game_score
11078,2022-11-07,Vanderbilt,67,2022-11-07,Vanderbilt,67.0
11079,2022-11-11,Vanderbilt,48,2022-11-11,Vanderbilt,48.0
11080,2022-11-15,Vanderbilt,89,2022-11-15,Vanderbilt,89.0
11081,2022-11-18,Vanderbilt,76,2022-11-18,Vanderbilt,76.0
11082,2022-11-24,Vanderbilt,65,2022-11-24,Vanderbilt,65.0
11083,2022-11-24,Vanderbilt,67,2022-11-24,Vanderbilt,67.0
11084,2022-11-30,Vanderbilt,65,2022-11-30,Vanderbilt,65.0
11085,2022-12-03,Vanderbilt,65,2022-12-03,Vanderbilt,65.0
11086,2022-12-07,Vanderbilt,75,2022-12-07,Vanderbilt,75.0
11087,2022-12-09,Vanderbilt,62,2022-12-09,Vanderbilt,62.0
11088,2022-12-17,Vanderbilt,66,2022-12-17,Vanderbilt,66.0
11089,2022-12-22,Vanderbilt,70,2022-12-22,Vanderbilt,70.0
11090,2022-12-30,Vanderbilt,93,2022-12-30,Vanderbilt,93.0
11091,2023-01-03,Vanderbilt,84,2023-01-03,Vanderbilt,84.0
11092,2023-01-07,Vanderbilt,82,2023-01-07,Vanderbilt,82.0
11093,2023-01-10,Vanderbilt,68,2023-01-10,Vanderbilt,68.0
11094,2023-01-14,Vanderbilt,97,2023-01-14,Vanderbilt,97.0
11095,2023-01-17,Vanderbilt,66,2023-01-17,Vanderbilt,66.0
11096,2023-01-21,Vanderbilt,85,2023-01-21,Vanderbilt,85.0
11097,2023-01-24,Vanderbilt,53,2023-01-24,Vanderbilt,53.0

In [265]:
#Adding differences between some of the rolling averages, team from the row minus opponent
merged['avg_score_comp_last_10'] = merged['avg_score_diff_last_10'] - merged['opp_avg_score_diff_last_10']
merged['efg_comp_last_10'] = merged['efg_pct_last_10'] - merged['opp_efg_pct_last_10']
merged['avg_tovs_comp_last_10'] = merged['avg_tovs_last_10'] - merged['opp_avg_tovs_last_10']
merged['avg_orb_comp_last_10'] = merged['avg_orb_last_10'] - merged['opp_avg_orb_last_10']
merged['avg_fta_comp_last_10'] = merged['avg_fta_last_10'] - merged['opp_avg_fta_last_10']

In [266]:
#Getting rid of non division 1 games
merged = merged.dropna(subset = ["opp_avg_score_diff_last_5"])

In [ ]:
merged.to_csv("/Users/mavinjames/Desktop/Basketball_Modeling/NCAAB_Sports_Reference_Scraper/data/merged_dataset.csv")

In [267]:
import numpy as np
import pandas as pd

df = merged.copy()

# ----- adjust these if your column names differ -----
POINTS_SCORED_COL = "team_game_score"
POINTS_GIVEN_COL = "opp_team_game_score"
SCORE_DIFF_COL = "score_diff"
TEAM_RESULT_COL = "team_game_result"
FG_COL = "fg"
FG3_COL = "fg3"
FGA_COL = "fga"
# ----------------------------------------------------

# keep raw opponent columns
keep_raw_opp = {"opp_name_abbr", "opp_team_game_score"}

# drop only derived opp_ features
cols_to_drop = [c for c in df.columns if c.startswith("opp_") and c not in keep_raw_opp]
df = df.drop(columns=cols_to_drop, errors="ignore")

# build win if needed
if "win" not in df.columns and TEAM_RESULT_COL in df.columns:
    df["win"] = df[TEAM_RESULT_COL].map({"W": 1, "L": 0})

# sort + group
df = df.sort_values(["season", "school_name", "date"])
g = df.groupby(["season", "school_name"])

def rolling_mean(col, window):
    return g[col].transform(lambda s: s.shift(1).rolling(window, min_periods=1).mean())

# score diff + points
df["avg_score_diff_last_5"]  = rolling_mean(SCORE_DIFF_COL, 5)
df["avg_score_diff_last_10"] = rolling_mean(SCORE_DIFF_COL, 10)

df["avg_points_scored_last_5"]  = rolling_mean(POINTS_SCORED_COL, 5)
df["avg_points_scored_last_10"] = rolling_mean(POINTS_SCORED_COL, 10)

df["avg_points_given_last_5"]  = rolling_mean(POINTS_GIVEN_COL, 5)
df["avg_points_given_last_10"] = rolling_mean(POINTS_GIVEN_COL, 10)

# win pct last 10
df["win_pct_last_10"] = g["win"].transform(
    lambda s: s.shift(1).rolling(10, min_periods=1).mean()
)

# weighted eFG% (sum-based)
fg_roll_5  = g[FG_COL].transform(lambda s: s.shift(1).rolling(5,  min_periods=1).sum())
fg3_roll_5 = g[FG3_COL].transform(lambda s: s.shift(1).rolling(5,  min_periods=1).sum())
fga_roll_5 = g[FGA_COL].transform(lambda s: s.shift(1).rolling(5,  min_periods=1).sum())

df["efg_pct_last_5"] = (fg_roll_5 + 0.5 * fg3_roll_5) / fga_roll_5.replace(0, np.nan)

fg_roll_10  = g[FG_COL].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())
fg3_roll_10 = g[FG3_COL].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())
fga_roll_10 = g[FGA_COL].transform(lambda s: s.shift(1).rolling(10, min_periods=1).sum())

df["efg_pct_last_10"] = (fg_roll_10 + 0.5 * fg3_roll_10) / fga_roll_10.replace(0, np.nan)

# other rolling stats
for col in ["tov", "orb", "fta", "ast", "trb"]:
    df[f"avg_{col}_last_5"]  = rolling_mean(col, 5)
    df[f"avg_{col}_last_10"] = rolling_mean(col, 10)

# fill rolling NaNs if you want
roll_cols = [
    "avg_score_diff_last_5","avg_score_diff_last_10",
    "avg_points_scored_last_5","avg_points_scored_last_10",
    "avg_points_given_last_5","avg_points_given_last_10",
    "win_pct_last_10","efg_pct_last_5","efg_pct_last_10",
    "avg_tovs_last_5","avg_tovs_last_10",
    "avg_orb_last_5","avg_orb_last_10",
    "avg_fta_last_5","avg_fta_last_10",
    "avg_ast_last_5","avg_ast_last_10",
    "avg_trb_last_5","avg_trb_last_10",
]
df[roll_cols] = df[roll_cols].fillna(0)

# build opponent df with prefix (uses the same game scores)
opp_cols = ["season","date","opp_name_abbr","team_game_score","opp_team_game_score"] + roll_cols + ["win"]
opp_df = df[opp_cols].add_prefix("opp_")

# merge opponent features back onto main df
merged = df.merge(
    opp_df,
    left_on=["season","date","school_name","team_game_score"],
    right_on=["opp_season","opp_date","opp_opp_name_abbr","opp_opp_team_game_score"],
    how="inner"
)

In [268]:
cols = [
    "avg_score_diff_last_10",
    "efg_pct_last_10",
    "avg_tovs_last_10",
]

check = merged.merge(
    merged[["date", "school_name"] + cols],
    left_on=["date", "opp_name_abbr"],
    right_on=["date", "school_name"],
    how="left",
    suffixes=("", "_opp_from_self")
)

for c in cols:
    diff = (check[f"opp_{c}"] - check[f"{c}_opp_from_self"]).abs()
    print(c, "mismatches:", (diff > 1e-8).sum(), " / ", diff.notna().sum())

avg_score_diff_last_10 mismatches: 20  /  34374
efg_pct_last_10 mismatches: 20  /  34374
avg_tovs_last_10 mismatches: 20  /  34374

In [269]:

cols = ["avg_score_diff_last_10", "efg_pct_last_10", "avg_tovs_last_10"]

check = merged.merge(
    merged[["date", "school_name"] + cols],
    left_on=["date", "opp_name_abbr"],
    right_on=["date", "school_name"],
    how="left",
    suffixes=("", "_opp_from_self")
)

for c in cols:
    mask = (check[f"opp_{c}"] - check[f"{c}_opp_from_self"]).abs() > 1e-8
    print(f"\n{c} mismatches:")
    print(
        check.loc[mask, ["date","school_name","opp_name_abbr", f"opp_{c}", f"{c}_opp_from_self"]]
        .head(30)
    )

avg_score_diff_last_10 mismatches:
            date         school_name     opp_name_abbr  \
2926  2022-11-24        Fresno State        Vanderbilt
3237  2022-11-25             Gonzaga    Portland State
7433  2022-11-25      Portland State           Gonzaga
7586  2022-11-25              Purdue           Gonzaga
8121  2022-11-24   Saint Mary's (CA)        Vanderbilt
10917 2022-11-25       West Virginia    Portland State
11743 2023-11-24       Arizona State     Brigham Young
12319 2023-11-24       Brigham Young     Arizona State
13232 2024-03-16      Colorado State        New Mexico
15046 2023-12-17              Howard     Jackson State
15476 2023-12-17       Jackson State            Howard
17443 2023-11-24            NC State     Brigham Young
17929 2023-12-17  North Carolina A&T     Jackson State
19775 2024-03-16     San Diego State        New Mexico
21079 2023-12-17      Texas Southern            Howard
22016 2023-11-24          Vanderbilt     Arizona State
23648 2025-03-15         Boise State    Colorado State
25812 2024-11-27        Fresno State  Washington State
31880 2024-11-27  Southern Methodist  Washington State
33397 2025-03-15          Utah State    Colorado State

       opp_avg_score_diff_last_10  avg_score_diff_last_10_opp_from_self
2926                     0.800000                              3.500000
3237                    -2.000000                             -7.500000
7433                     9.750000                             12.600000
7586                    12.600000                              9.750000
8121                     3.500000                              0.800000
10917                   -7.500000                             -2.000000
11743                   39.000000                             36.800000
12319                   -0.666667                             -7.500000
13232                    3.300000                              4.900000
15046                  -15.000000                            -12.800000
15476                   -4.444444                             -4.700000
17443                   36.800000                             39.000000
17929                  -12.800000                            -15.000000
19775                    4.900000                              3.300000
21079                   -4.700000                             -4.444444
22016                   -7.500000                             -0.666667
23648                   14.800000                             14.200000
25812                   11.166667                             11.142857
31880                   11.142857                             11.166667
33397                   14.200000                             14.800000

efg_pct_last_10 mismatches:
            date         school_name     opp_name_abbr  opp_efg_pct_last_10  \
2926  2022-11-24        Fresno State        Vanderbilt             0.498371
3237  2022-11-25             Gonzaga    Portland State             0.468137
7433  2022-11-25      Portland State           Gonzaga             0.589912
7586  2022-11-25              Purdue           Gonzaga             0.613402
8121  2022-11-24   Saint Mary's (CA)        Vanderbilt             0.510040
10917 2022-11-25       West Virginia    Portland State             0.479245
11743 2023-11-24       Arizona State     Brigham Young             0.581227
12319 2023-11-24       Brigham Young     Arizona State             0.421965
13232 2024-03-16      Colorado State        New Mexico             0.476336
15046 2023-12-17              Howard     Jackson State             0.461686
15476 2023-12-17       Jackson State            Howard             0.514423
17443 2023-11-24            NC State     Brigham Young             0.568513
17929 2023-12-17  North Carolina A&T     Jackson State             0.467410
19775 2024-03-16     San Diego State        New Mexico             0.483896
21079 2023-12-17      Texas Southern            Howard             0.526178
22016 2023-11-24          Vanderbilt     Arizona State             0.404348
23648 2025-03-15         Boise State    Colorado State             0.626692
25812 2024-11-27        Fresno State  Washington State             0.570081
31880 2024-11-27  Southern Methodist  Washington State             0.571264
33397 2025-03-15          Utah State    Colorado State             0.605114

       efg_pct_last_10_opp_from_self
2926                        0.510040
3237                        0.479245
7433                        0.613402
7586                        0.589912
8121                        0.498371
10917                       0.468137
11743                       0.568513
12319                       0.404348
13232                       0.483896
15046                       0.467410
15476                       0.526178
17443                       0.581227
17929                       0.461686
19775                       0.476336
21079                       0.514423
22016                       0.421965
23648                       0.605114
25812                       0.571264
31880                       0.570081
33397                       0.626692

avg_tovs_last_10 mismatches:
            date         school_name     opp_name_abbr  opp_avg_tovs_last_10  \
2926  2022-11-24        Fresno State        Vanderbilt             12.200000
3237  2022-11-25             Gonzaga    Portland State             11.750000
7433  2022-11-25      Portland State           Gonzaga             17.000000
7586  2022-11-25              Purdue           Gonzaga             15.800000
8121  2022-11-24   Saint Mary's (CA)        Vanderbilt             12.000000
10917 2022-11-25       West Virginia    Portland State             11.800000
11743 2023-11-24       Arizona State     Brigham Young              9.500000
12319 2023-11-24       Brigham Young     Arizona State             11.000000
13232 2024-03-16      Colorado State        New Mexico              9.800000
15046 2023-12-17              Howard     Jackson State             14.777778
15476 2023-12-17       Jackson State            Howard             15.400000
17443 2023-11-24            NC State     Brigham Young             10.200000
17929 2023-12-17  North Carolina A&T     Jackson State             14.800000
19775 2024-03-16     San Diego State        New Mexico              9.500000
21079 2023-12-17      Texas Southern            Howard             15.500000
22016 2023-11-24          Vanderbilt     Arizona State             10.500000
23648 2025-03-15         Boise State    Colorado State             10.700000
25812 2024-11-27        Fresno State  Washington State             15.166667
31880 2024-11-27  Southern Methodist  Washington State             15.714286
33397 2025-03-15          Utah State    Colorado State             10.500000

       avg_tovs_last_10_opp_from_self
2926                        12.000000
3237                        11.800000
7433                        15.800000
7586                        17.000000
8121                        12.200000
10917                       11.750000
11743                       10.200000
12319                       10.500000
13232                        9.500000
15046                       14.800000
15476                       15.500000
17443                        9.500000
17929                       14.777778
19775                        9.800000
21079                       15.400000
22016                       11.000000
23648                       10.500000
25812                       15.714286
31880                       15.166667
33397                       10.700000

In [274]:
merged.columns

Index(['Unnamed: 0', 'school_name', 'school_slug', 'season', 'ranker',
       'team_game_num_season', 'date', 'game_location', 'opp_name_abbr',
       'game_type', 'team_game_result', 'team_game_score',
       'opp_team_game_score_x', 'overtimes', 'fg', 'fga', 'fg_pct', 'fg3',
       'fg3a', 'fg3_pct', 'fg2', 'fg2a', 'fg2_pct', 'efg_pct', 'ft', 'fta',
       'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'is_Home', 'score_diff', 'avg_score_diff_last_5',
       'avg_score_diff_last_10', 'avg_points_scored_last_5',
       'avg_points_scored_last_10', 'avg_points_given_last_5',
       'avg_points_given_last_10', 'win', 'win_pct_last_10', 'efg_pct_last_5',
       'efg_pct_last_10', 'avg_tovs_last_5', 'avg_tovs_last_10',
       'avg_orb_last_5', 'avg_orb_last_10', 'avg_fta_last_5',
       'avg_fta_last_10', 'avg_ast_last_5', 'avg_ast_last_10',
       'avg_trb_last_5', 'avg_trb_last_10', 'avg_score_comp_last_10',
       'efg_comp_last_10', 'avg_tovs_comp_last_10', 'avg_orb_comp_last_10',
       'avg_fta_comp_last_10', 'avg_tov_last_5', 'avg_tov_last_10',
       'opp_season', 'opp_date', 'opp_opp_name_abbr', 'opp_team_game_score_y',
       'opp_opp_team_game_score', 'opp_avg_score_diff_last_5',
       'opp_avg_score_diff_last_10', 'opp_avg_points_scored_last_5',
       'opp_avg_points_scored_last_10', 'opp_avg_points_given_last_5',
       'opp_avg_points_given_last_10', 'opp_win_pct_last_10',
       'opp_efg_pct_last_5', 'opp_efg_pct_last_10', 'opp_avg_tovs_last_5',
       'opp_avg_tovs_last_10', 'opp_avg_orb_last_5', 'opp_avg_orb_last_10',
       'opp_avg_fta_last_5', 'opp_avg_fta_last_10', 'opp_avg_ast_last_5',
       'opp_avg_ast_last_10', 'opp_avg_trb_last_5', 'opp_avg_trb_last_10',
       'opp_win'],
      dtype='object')

In [277]:
#Adding differences between some of the rolling averages, team from the row minus opponent
merged['avg_score_comp_last_10'] = merged['avg_score_diff_last_10'] - merged['opp_avg_score_diff_last_10']
merged['efg_comp_last_10'] = merged['efg_pct_last_10'] - merged['opp_efg_pct_last_10']
merged['avg_tovs_comp_last_10'] = merged['avg_tovs_last_10'] - merged['opp_avg_tovs_last_10']
merged['avg_orb_comp_last_10'] = merged['avg_orb_last_10'] - merged['opp_avg_orb_last_10']
merged['avg_fta_comp_last_10'] = merged['avg_fta_last_10'] - merged['opp_avg_fta_last_10']

In [278]:
merged.columns

Index(['Unnamed: 0', 'school_name', 'school_slug', 'season', 'ranker',
       'team_game_num_season', 'date', 'game_location', 'opp_name_abbr',
       'game_type', 'team_game_result', 'team_game_score',
       'opp_team_game_score_x', 'overtimes', 'fg', 'fga', 'fg_pct', 'fg3',
       'fg3a', 'fg3_pct', 'fg2', 'fg2a', 'fg2_pct', 'efg_pct', 'ft', 'fta',
       'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'is_Home', 'score_diff', 'avg_score_diff_last_5',
       'avg_score_diff_last_10', 'avg_points_scored_last_5',
       'avg_points_scored_last_10', 'avg_points_given_last_5',
       'avg_points_given_last_10', 'win', 'win_pct_last_10', 'efg_pct_last_5',
       'efg_pct_last_10', 'avg_tovs_last_5', 'avg_tovs_last_10',
       'avg_orb_last_5', 'avg_orb_last_10', 'avg_fta_last_5',
       'avg_fta_last_10', 'avg_ast_last_5', 'avg_ast_last_10',
       'avg_trb_last_5', 'avg_trb_last_10', 'avg_score_comp_last_10',
       'efg_comp_last_10', 'avg_tovs_comp_last_10', 'avg_orb_comp_last_10',
       'avg_fta_comp_last_10', 'avg_tov_last_5', 'avg_tov_last_10',
       'opp_season', 'opp_date', 'opp_opp_name_abbr', 'opp_team_game_score_y',
       'opp_opp_team_game_score', 'opp_avg_score_diff_last_5',
       'opp_avg_score_diff_last_10', 'opp_avg_points_scored_last_5',
       'opp_avg_points_scored_last_10', 'opp_avg_points_given_last_5',
       'opp_avg_points_given_last_10', 'opp_win_pct_last_10',
       'opp_efg_pct_last_5', 'opp_efg_pct_last_10', 'opp_avg_tovs_last_5',
       'opp_avg_tovs_last_10', 'opp_avg_orb_last_5', 'opp_avg_orb_last_10',
       'opp_avg_fta_last_5', 'opp_avg_fta_last_10', 'opp_avg_ast_last_5',
       'opp_avg_ast_last_10', 'opp_avg_trb_last_5', 'opp_avg_trb_last_10',
       'opp_win'],
      dtype='object')

In [279]:
merged.to_csv("/Users/mavinjames/Desktop/Basketball_Modeling/NCAAB_Sports_Reference_Scraper/data/merged_dataset.csv")